@using Contact_Management_MVC.Helpers;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")"></script>
<script src="@Url.Content("~/Scripts/MicrosoftAjax.js")"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>ASP.NET MVC Contact Manager</h1>
            </div>
            <div id="logindisplay">
               @{Html.RenderPartial("_LogInDetails");}
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    @Html.MenuItem("My Contacts", "Index", "Contact")
                    @Html.MenuItem("Create New Contact", "Create", "Contact")
                </ul>
            </div>
            <div id="main">
                @RenderBody()
                <p id="footer">
                    &copy;@DateTime.Now.Year - ASP.NET MVC Contact Manager
                </p>
                <div id="bottom-shadow"></div>
            </div>
        </div>
    </div>
</body>
</html>
